# DB Configuration

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
POSTGRES_PORT=5432
POSTGRES_VOLUME=myvolume
POSTGRES_HOST=localhost

PRIVATE_API_PORT=8111
PUBLIC_API_PORT=8222

# Defaults you shouldn't have to change unless you modify docker-compose

DB_HOST=db # The name of the container running postgres
DB_PORT=5432 # The port number of the postgres instance
