# DB Configuration

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=db
POSTGRES_PORT=5432 # The external port mapping for pg. Only used in dev
POSTGRES_HOST=db # db

PRIVATE_API_PORT=8111 # The external port mapping for private api. Only used in dev
PUBLIC_API_PORT=8222 # Not used anymore
